.idea
yarn-error.log
packages/*/yarn-error.log
.env
.vscode
node_modules
.nyc_output
coverage
packages/*/env.json
lerna-debug.log
claudia.json
.env.production
packages/test/register.test.js
packages/test/login.test.js
packages/test/counter-facade.test.js

